/*  =================== HERUNDER ER ALLE IMPORTS =================== */
@import "tailwindcss";

/*  ================ CUSTOM PROPORTIES OG VARIABLER ================ */
:root {
  /* Basic */
  --sort: #2a2a2a;
  --hvid: #fffefe;

  /* Mørk blå */
  --moerkblaa-900: #04131e;
  --moerkblaa-600: #0a2a43;
  --moerkblaa-300: #7690a9;
  --moerkblaa-100: #d9dfe7;

  /* Kobolt blå */
  --koboltblaa-900: #001d4c;
  --koboltblaa-600: #003f9e;
  --koboltblaa-300: #7ea4da;
  --koboltblaa-100: #d7e0f5;

  /* Bellevue blå */
  --bellevueblaa-900: #0c4470;
  --bellevueblaa-600: #1c82c2;
  --bellevueblaa-300: #89bbd4;
  --bellevueblaa-100: #d7e7f3;

  /* Beige */
  --beige-900: #d4c9b4;
  --beige-600: #f2ede3;
  --beige-300: #efe8db;
  --beige-100: #faf7f1;

  /* Rød */
  --roed-900: #5c0305;
  --roed-600: #ae1115;
  --roed-300: #d48072;
  --roed-100: #f9d7d2;

  /* Gul */
  --gul-900: #b38a25;
  --gul-600: #fdd777;
  --gul-300: #f8d98b;
  --gul-100: #fff1c6;

  /*spacing*/
  --content-width: max(20px, 50% - 70rem / 2);

  /*  =================== STYLING AF HEADING + TEXT ================== */

  /* Font family */
  --font-text: "Inter", sans-serif;
  --font-heading: "Oswald", sans-serif;

  /* Font sizes */
  --font-size-hero: clamp(1.25rem, -6.786rem + 21.429vw, 12.5rem);
  --font-size-h1: clamp(4.375rem, 2.8125rem + 5vw, 5.625rem);
  --font-size-h2: clamp(3.75rem, 5.3125rem + -5vw, 2.5rem);
  --font-size-h3: clamp(1.5rem, 0.6406rem + 2.75vw, 2.1875rem);
  --font-size-h4: clamp(1.25rem, 0.8594rem + 1.25vw, 1.5625rem);
  --font-size-highlighttext: clamp(1.25rem, 1.5625rem + -1vw, 1rem);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  color: var(--moerkblaa-600);
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 1;
}
h2 {
  font-size: var(--font-size-h2);
  line-height: 1;
}
h3 {
  font-size: var(--font-size-h3);
  line-height: 1.2;
}
h4 {
  font-size: var(--font-size-h4);
  line-height: 1.2;
}

.highlighttext {
  font-size: var(--font-size-highlighttext);
}

.display {
  font-size: var(--font-size-hero);
  text-transform: uppercase;
  line-height: 12rem;
}

blockquote {
  font-family: var(--font-heading);
  font-style: italic;
  font-size: x-large;
  text-wrap: balance;
}

body {
  font-family: var(--font-text);
  background-color: var(--hvid);
  color: var(--moerkblaa-900);
}

section {
  padding-inline: var(--content-width);
}

/*OVERWRITES*/

.add-on-content h1,
.add-on-content h2,
.add-on-content h3,
.add-on-content h4,
.add-on-content h5,
.add-on-content h6 {
  color: inherit;
}

.bellevueblaa-600 h1 {
  color: var(--bellevueblaa-600);
}

.koboltblaa-600 {
  color: var(--koboltblaa-600);
}

.moerkblaa-600 {
  color: var(--moerkblaa-600);
}

.bellevueblaa-100 {
  color: var(--bellevueblaa-100);
}

.padding-top {
  padding-top: 40px;
}

.thin {
  font-weight: 100;
}

/* REACT DATE PICKER STYLING */

/* Selected day */
.rdp-day_selected {
  font-weight: 900;
  background-color: var(--bellevueblaa-900);
  border-radius: 9999px !important;
  color: var(--hvid);
}

/* Available dates */
.rdp-day_available {
  border-radius: 9999px !important;
  background-color: var(--bellevueblaa-600);
  color: var(--hvid);

  :hover {
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    background-color: var(--bellevueblaa-900);
  }
}

.react-datepicker__navigation--next {
  background: no-repeat;
  width: 15px;
  height: 199px;
  border: none;
}
